.devtools {
  background: #C1EFF6;
}

.styles {
  background: #EE7762;
}

.programming-language {
  background: #EE9B70;
}

.frontend {
  background: #FFB900;
}

.quality-assurance {
  background: #409CFF;
}

.web-technology, .backend {
  background: #70D7FF;
}

.infrastructure {
  background: #92D923;
}

.databases {
  background: #00B7C3;
}

.cloud-native {
  background: #A97CF8;
  /* Put a space to seperate the split table  */
  margin-top: 2vw;
}

.actinide {
  background: #7D7AFF;
}

/* The Unknown Element  */
.unknown {
  background: #D4CCFF;
}
